* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

html,
body {
    background: #07038c;
    margin: 0;
}

.grid-item,
header,
main,
nav,
aside,
footer {
    background-color: #044BD9;
    color: white;
    border: 1px solid #377eff;
}